body{
    background-color: rgb(173, 188, 202);
    text-align: center;
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar{
    display: flex;
    justify-content: center;
    justify-items: center;
}

p{
    margin-bottom: 40px;
}

.contenido2{
    padding: 5% 0;
    background: rgb(10, 125, 160);
    color: cornsilk;
    max-width: 75%;
    margin: 0 auto;
}

.titulo{
    margin-bottom: 40px;
    font: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}